* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    width: 100%;
    height: 120px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    background-color: #050505;
    justify-content: space-evenly;
    text-align: left;
}

.main {
    display: flex;
    margin-left: -50px;
}

.main img {
    width: 100px;
}

.main h1 {
    font-size: 32px;
    color: #fff;
    font-style: italic;
    margin-top: 35px;
    padding: 0;
}

#searchBox {
    width: 60%;
    margin-left: 0px;
    color: #000;
}

input[type="text"] {
    margin-top: 30px;
    padding: 12px 300px 12px 5px;    
}

input[type="button"] {
    padding: 8px 18px;
    background-color: #ff6347;
    color: #fff;
    cursor: pointer;
    border: none;
}

input[type="button"]:hover {
    opacity: 0.8;
    border: none;
}

input[type="button"]:focus {
    border: none;
    outline: none;
}

.back {
    margin-top: 20px;
    padding: 8px 10px;
    background-color: #fff;
    color: #ff6347;
    border: none;
    cursor: pointer;
}

.back:hover {
    opacity: 0.8;
    border: none;
}

.back:focus {
    border: none;
    outline: none;
}

.container {
    width: 100%;
    height: 100vh;
    margin: 0;
    color: #fff;
    position: relative;
}

#title {
    font-size: 18px;
    color: #fff;
    font-style: italic;
    margin: 15px 20px;
    padding: 0;
    position: absolute;
}

#title img {
    width: 100px;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: #f00;
}

.banner {
    width: 100%;
    height: 90vh;
    position: absolute;
    background-image: url("./resources/heart.jpg");
    background-size: contain;
    background-position: center;
    font-family: serif;
}

.content {
    width: 100%;
    position: absolute;
    top: 30%;
    font-family: serif;
}

.content h1 {
    width: 30%;
    font-size: 55px;
    float: right;
    color: #fff;
    margin-right: 160px;
    padding-top: 40px;
    
    text-align: left;
}

#red {
    position: absolute;
    font-size: 22px;
    font-style: italic;
    color: #ff6347;
    padding-left: 960px;
    font-family: serif;
}

.banner button {
    width: 10%;
    padding: 16px 20px;
    margin-left: 960px;
    margin-top: 50px;
    font-size: 22px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px 18px 0 hsla(0%, 0%, 0%, 0.2); 
    cursor: pointer;
    font-weight: 400;
    color: #ff4500;
}

.banner button:hover {
    border: none;
    opacity: 0.8;
}

.banner button:focus {
    outline: none;
    border: none;
}

.sm-icons {
    width: 100%;
    height: 10vh;
    display: inline-block;
    text-align: center;
    color: #000;
    font-size: 18px;
    position: absolute;
    z-index: 9;
    top: 100%;
    background-color: #fff;
}

.sm-icons p {
    margin-top: -75px;
    font-style: italic;
    color: #ff6347;
}

.sm-icons img {
    margin: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sm-icons img:hover {
    opacity: 0.7;
}

.footer {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #050505;
    justify-content: space-evenly;
    color: #ff6347;
    z-index: 9;
    padding-top: 15px;
    margin-bottom: -50px;
}

 div#myContainer {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    grid-gap: 30px;
    padding: 20px;
}

.recipe {
    width: 100%;
    margin: 0;
}

.recipe-image {
    width: 360px;
    height: 360px;
    margin: auto;
    border-radius: 50%;
}

.recipe-name {
    margin: auto;
    padding: 12px;
    color: seashell;
    font-size: 22px;
    font-family: serif;
    background-color: #ff6347;
    text-align: center;
}

.recipe-link {
    text-decoration: none;
    color: #ff6347;
}

@media only screen and (max-width: 760px) {
    header {
        display: flex;
        flex-flow: column nowrap;
        height: 250px;
        margin-top: -25px;
        margin-bottom: 10px;
    }

    .main {
        width: 100%;
        align-items: center;
        margin: 10px;
    }

    .main img {
        width: 60px;
    }

    .main h1 {
        margin-left: -70px;
        font-size: 20px;
        padding-top: 55px;
    }

    #searchBox {
        width: 100%;
    }

    input[type="text"] {
        width: 90%;
        margin: auto;
        padding: 12px 120px 12px 5px; 
    }

    .container {
        height: 100vh;
    }

    .banner {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    #title {
        height: 300px;
        flex-flow: row nowrap;
        align-items: right;
        margin-left: 270px;
    }

    #title img {
        width: 60px;
        margin-left: 30px;
    }

    #title h1 {
        font-size: 20px;
    }

    .content {
        width: 100%;
        text-align: right;    
    }

    .content h1{
        font-size: 30px;
        margin-right: 10px;
        text-align: right;
        height: 300px;
        line-height: 1.7;
        padding-top: 0px;
        margin-top: -40px;
    }

    #red {
        margin-top: 350px;
        padding-left: 0px;
        font-size: 18px;
        position: relative;
        text-align: right;
        margin-right: 10px;
    }

    .banner button {
        margin: 20px;
        padding: 4px;
        width: 100px;
        font-size: 18px;
    }

    .sm-icons {
        height: 250px;
        margin-top: 8px;
    }

    .footer {
        width: 100%;
        flex-flow: column nowrap;
        align-items: center;
        margin-bottom: -10px;
        height: 350px;
    }

    .footer h2 {
        font-size: 20px;
    }

    .footer p {
        margin:-10px  10px;
    }

    div#myContainer {
        width: 100%;
        margin: auto;
        grid-template-columns: auto;
        justify-content: space-evenly;
    }

    .recipe-image {
        width: 240px;
        height: 240px;
        margin-left: 50px;
    }
}